{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}

<header class="navbar navbar-default" id="navbar" role="banner">
  <div class="{{ container }}">
    <div class="navbar-header">
      {% if page.navigation %}
        {{ page.navigation }}
      {% endif %}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
      {% if page.navigation_collapsible %}
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      {% endif %}
    </div><!--navbar-header end-->
    </div><!--container end-->
    <div class="header-menu">
        {# Navigation (collapsible) #}
        {% if page.navigation_collapsible %}
          <div id="navbar-collapse" class="navbar-collapse collapse">
            {{ page.navigation_collapsible }}
          </div><!--navbar-collapse end-->
        {% endif %}
    </div>

</header>
